$font:normal;
$max-wi:1116px;
$mar:0 auto;
$height:110px;
$pad-top:33px;

$dis:flex;
$flex:wrap;
$just-bet:space-between;
$just-end:flex-end;

$weight:300;
$size:14px;
$line:19px;
$color:#000000;

$pad-left:210px;
$pad:95px;
$pad-top:40px;
$font-weight:900;
